* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif !important;
    color: #1e2c3c;
}

/* navbar css */
.navTitle{
    text-decoration: none;
    font-family: 'Lato', sans-serif swap;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll{
    text-decoration: none;
    font-family: 'Lato', sans-serif swap;
    color: #1e2c3c !important;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll:hover{
    text-decoration: none;
}

.navBackground{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: rgba(00,00,00,0.0) !important;
    border-bottom: .5px solid #2d2f2d;
}

.navBackgroundScroll{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: #ffffff !important;
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
}

.navItem{
    font-size: 14px;
    text-decoration: none !important;
    font-family: 'Lato', sans-serif swap;
    font-weight: 700;
    color: #ffffff !important;
    text-transform: uppercase;
    transition: .3s;
}

.navItem:hover{
    color: #5fa2ff !important;
}

.navItemScroll{
    font-size: 14px;
    text-decoration: none !important;
    font-family: 'Lato', sans-serif swap;
    font-weight: 700;
    color: #1e2c3c !important;
    text-transform: uppercase;
    transition: .3s;
}

.navItemScroll:hover{
    color: #5fa2ff !important;
}

.purchasesBtn {
    font-size: 14px;
    text-decoration: none !important;
    font-family: 'Lato', sans-serif swap;
    font-weight: 700;
    color: #fff !important;
    text-transform: uppercase;
    background: #5fa2ff;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.purchasesBtn:hover {
    background: #438efc;
}

.social {
    color: #fff;
    padding: 0 5px;
    font-size: 14px;
    text-decoration: none;
}

.social:hover {
    color: #fff;
    text-decoration: none;
}

.socialScroll {
    color: #1e2c3c;
    padding: 0 5px;
    font-size: 14px;
    text-decoration: none;
}

.socialScroll:hover {
    color: #1e2c3c;
    text-decoration: none;
}


/* top banner */
.topFixedBanner{
    background-image: url("../images/topBanner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

.topContent {
    margin-top: 14rem;
}

.topTitle {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    font-family: 'Lato', sans-serif swap;
}

.topSubTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif swap;
}

.joinNowBtn {
    background: #5fa2ff !important;
    color: #fff;
    padding: 5px 15px !important;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: .3s;
}

.joinNowBtn:hover {
    background: #438efc !important;
}


/* small banner */
.smallFixedBanner{
    background-image: url("../images/banner.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallBannerOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.bannerRow {
    margin-top: 12rem;
}

.bannerTitle {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
}

/* course topic section */
.courseTopicRow {
    height: 500px;
    align-items: center;
}

.topicTitle {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Lato', sans-serif swap;
    margin-left: 1rem;
}

.topicSubTitle {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif swap;
    margin-left: 1rem;
}

.viewCourseBtn {
    background: #5fa2ff !important;
    color: #ffffff;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1rem;
    transition: .3s;
}

.viewCourseBtn:hover {
    background: #438efc !important;
}

.courseTopics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px auto;
    grid-gap: 1em;
    align-items: center;
}

.js {
    align-self: center;
    padding: 85px 50px;
    height: 200px;
    width: 250px;
    background: #ede800;
    color: #1e2c3c;
}

.php {
    align-self: center;
    background: #9994c1;
    height: 200px;
    width: 250px;
    padding: 85px 40px;
    color: #1e2c3c;
}

.python {
    align-self: center;
    background: #2f619c;
    height: 200px;
    width: 250px;
    padding: 85px 0px;
    color: #1e2c3c;
}

.more {
    align-self: center;
    background: red;
    height: 200px;
    width: 250px;
    padding: 70px 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff !important;

}

.courseTopics span {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1e2c3c;
    background: #fff;
    padding: 10px;
}

.courseTopics a {
    text-decoration: none;
}

.courseTopics a:hover {
    text-decoration: none;
}

.moreLink {
    color: #ffffff;
    font-weight: 800;
}

.moreLink:hover {
    color: #ffffff;
}

/*course component*/
.topCourse {
    background: #1e2c3c;
    color: #ffffff;
    padding: 6rem 3rem !important;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title {
    font-size: 35px;
    font-weight: 800;
    font-family: 'Jost', sans-serif;
    padding-bottom: 3rem !important;
}

.courseName{
    margin-top: 1rem;
    font-size: 22px;
    font-weight: 600;
}

.courseDescription{
    font-size: 14px;
    font-weight: 400;
}

.courseCard{
    margin: 5px 5px 5px 5px;
    height: 18rem;
    padding: 50px 30px 50px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.courseCard:hover{
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}

/*total count component*/
.countImageCol {
    position: relative;
    height: 500px;
}

.totalCountRow {
    align-items: center;
    margin-top: 1rem !important;
    margin-bottom: 5rem !important;
}

.countImageCol img{
    position: absolute;
    width: 100% !important;
    overflow: hidden;
    height: 500px;
    left: 0 !important;
}

.totalCol {
    display: flex;
    justify-content: space-between;
}

.totalNumber {
    flex-basis: 18%;
    color: red;
    font-size: 45px;
    font-weight: 700;
}

.totalTitle {
    flex-basis: 80%;
    font-weight: 700;
}

.totalTitle h2 {
    font-weight: 700;
    font-family: 'Jost', sans-serif;
}

/*class and student view component*/
.csViewRow {
    align-items: center;
    height: 300px;
    background: #ffffff;
    margin-bottom: 3rem;
}

.csDes h2{
    font-weight: 800;
    font-family: 'Jost', sans-serif;
}

.csDes p{
    font-weight: 700;
}

.tsCount {
    float: right;
    font-weight: 800;
    font-family: 'Jost', sans-serif;
}

.tsCount span{
    color: red;
}

.csbtn {
    float: right;
}

/*footer component*/
.footerRow {
    margin-bottom: 2rem;
}

.footerTitle {
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
}

.footerLink {
    color: #1e2c3c;
    text-decoration: none;
}

.footerLink:hover {
    color: red;
    text-decoration: none;
}

.copyrightSection{
    padding: 20px 20px 20px 20px;
    background-color: #438efc;
}

.copyrightLink{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.copyrightLink:hover{
    color: #ddd;
    text-decoration: none;
}

/*course page css*/
.courseCardHeader {
    background: #1e2c3c;
    color: #ffffff;
}

.courseDesCon {
    background: white;
    padding: 1rem;
}

.courseImageCol {
    position: relative;
}

.courseImageCol img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.courseLink {
    background: red;
    padding: 3px 5px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.courseLink:hover {
    text-decoration: none;
    background: #d50202;
    color: #ffffff;
}

.topPageContentCourse {
    margin-top: 8rem;
}

.cName {
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.courseDes {
    color: #ffffff;
    font-size: 16px;
    text-overflow: ellipsis;
}

.totalLecture {
    color: red;
    font-size: 16px;
}

.skills {
    font-size: 16px;
    font-weight: 500;
}

.loadIcon {
    margin-top: 10rem;
}

/*contact page css*/
.contactLabel {
    font-size: 14px;
    font-weight: 600;
}

.form-control:focus{
    border-radius: 2px !important;
    border-color: #0073E6 !important;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2) !important;
}

.btn:focus{
    border-radius: 2px !important;
    border-color: #0073E6 !important;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2) !important;
}

.contactBtn {
    background: #5fa2ff !important;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
}

.contactBtn:hover {
    background: #438efc !important;
}

/*wentWrong component*/
.wentWrongImage {
    height: 200px;
    width: 30%;
}

.wentWrong h3{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
}

.wentWrong h3 span{
    color: red;
    font-family: 'Jost', sans-serif;
}

/*information*/
.information {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.information h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    margin-top: 2rem;
}

.information ul {
   margin-left: 1rem;
}

.information h5 {
   text-decoration: underline;
    margin-top: 1rem;
}

/*search box*/
.searchBox {
    width: 200px;
    height: 30px;
    position: absolute;
    float: right !important;
    margin-top: 4rem;
    /*margin-left: auto;*/
}
